#about {
    background: #dfdfde;
    min-height: 100vh;
    width: 100%;
    margin:0;
    padding-bottom: 3rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0rem;
    height: 13rem;
}

.header h2 {
    font-size: 3.3rem;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    padding-bottom: 0.3rem;
}

.header h4 {
    color: rgba(0,0,0,.4);
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    border-bottom: 0.1rem solid rgb(0, 0, 143);
    padding-bottom: 2.1rem;
}

.about-container{
    width: 41rem;
    margin-left: 5rem;
    height: 24rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -1rem;
}

.about-container h1 {
    color: #00008f;
    margin-left:2rem;
    font-family: 'Lato';
    font-size: 1.6rem;
}
.about-container h4 {
    color: #00008f;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Lato';
}

.about-container span {
    color: black;
    font-weight: 100;
    font-size: 1.1rem;
    font-family: arial, 'Josefin Sans';
}

.about-container p {
    color: black;
    font-family: 'Lato';
}
.form-btn {
    cursor: pointer;
}
button.form-btn {
    width: 8rem;
    height: 3rem;
    border: none;
    background: #00008f;
    border-radius: 0.5rem;
    margin-left: 35rem;
    color: #f7f7f7f7;
    font-family: 'Lato';
    font-size: 1.2rem;
}

